/* Global Setting */
:root
{
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Annimation */
    --animation-duration: 300ms;
}

/* Universial tags */
*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default;
}

a
{
    /* 밑줄 색 삭제 */
    text-decoration: none;
    color: var(--color-white);
}

button
{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

ul
{
    /* 목록 앞 마커를 정하는 속성 */
    list-style: none;
    padding-left: 0;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
  }
  
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
  }
  
  p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
  }

/* Navbar */
#navbar
{
    /* 2군데로 나누고 */
    display: flex;
    position: fixed;
    width: 100%;
    height: 55px;
    /* 양옆으로 간격을 벌려놓는다 */
    justify-content: space-between;
    background-color: transparent;
    /* 수직일 때의 중심을 잡을 떄는 align-items */
    align-items: center;
    color: var(--color-white);
    padding: 4px;
    transition: all var(--animation-duration) ease-in;
    /* 가장 위의 위치에 올려놓음 */
    z-index: 1;
}

#navbar.navbar--dark
{
    background-color: var(--color-pink);
    height: 55px;
    padding: 4px;
}

.navbar__menu
{
    /* 수평으로 놓게함 */
    display: flex;
}

.navbar__logo
{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu__item
{
    /* 간격 띄어놓음 */
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active
{
    border: 1px solid var(--color-white);
}

/* navbar__menu__item 위로 마우스가 올라갔을 때 */
.navbar__menu__item:hover
{
    background-color: var(--color-dark-pink);
}

.navbar__toggle-btn
{
    /*기존 자리에서 빠져나와 자리를 잡음
    top, left 등 자리를 지정해줘야함*/
    /* 페이지의 사이즈가 768px 이상일때는 토글버튼이 안보임*/
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 24px;
    color: var(--color-white);
    display: none;
}


/* HOME */
#home
{
    background: url('/images/homebackground.png') center/cover no-repeat;
    padding: 40px;
    padding-top: 100px;
    text-align: center;
}

.home__avartar
{
    width: 200px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--color-white);
}

.home__title,
.home__description
{
    color: var(--color-white);
}

.home__contact
{
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: 3px;
    color: var(--color-white);
}

/* Section common */
.section
{
    padding: 50px;
    text-align: center;
    /*보통 1000~1200px 이 데스크탑에서
    편하게 볼 수 있는 너비이다.*/
    margin: auto;
}

.section__container
{
    max-width: 1200px;
    margin: auto;
}

.about__majors
{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}

.about__school
{
    display: flex;
    justify-content: space-around;
}

.major__icon
{
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 90px;
    margin: auto;
    border: 3px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
    color: var(--color-blue);
}
.major__icon i
{
    /* 애니메이션은 300ms ~ 350ms 사이에서 사용하는것이 적당
    그 이상 혹은 이하는 너무 빠르거나 느리다. */
    transition: all 350ms ease;
}
.major__icon:hover i
{
    color: var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description
{
    color: var(--color-dark-grey);
}

.major__description
{
    font-size: var(--font-small);
}

.school
{
    display: flex;
    align-items: center;
}

.school__description
{
    margin: 0 16px;
    text-align: left;
}

.school__name,
.school__period
{
    color: var(--color-light-grey);
}

.school__name
{
    font-size: var(--font-micro);
}

.school__period
{
    font-size: var(--font-micro);
}

/* Skill */
#skills
{
    background-color: var(--color-yellow);
    
}

.skillset
{
    display: flex;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
    margin: 20px 0;
}

.skillset__title
{
    color: var(--color-white);
    font-weight: var(--weight-bold);
    margin-top: 8px;
}

.skillset__left
{
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 15px 40px;
}

.skill
{
    margin: 30px;
}

.skill__description
{
    display: flex;
    justify-content: space-between;
}

.skill__bar
{
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value
{
    height: 3px;
    background-color: var(--color-orange);
}

.skillset__right
{
    flex-basis: 40%;
}

.tools
{
    background-color: var(--color-grey);
    padding: 5px;
}

.tools li,
.etc li
{
    padding: 5px;
}

/* Work */
.work__categories
{
    margin: 40px;
}

.category__btn
{
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover
{
    background-color: var(--color-pink);
    color: var(--color-white);
}
.category__btn.active .category__count,
.category__btn:hover .category__count
{
    opacity: 1;
    top: 0;
}
.category__count
{
    background-color: var(--color-orange);
    border-radius: 50%;
    color: var(--color-white);
    width: 24px;
    height: 24px;
    line-height: 24px;;
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
}

.works__projects
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 250px;
    margin: 2px;
    background-color: var(--color-light-white);
}

.project__img
{
    max-width: 100%;
    max-height: 100%;
}

.project__description
{
    /*posion: absolute를 쓰게되면 근접한 노드중에 static을 쓰지 않은 부모로 찾아가게 됨*/
    /*아무것도 쓰지않으면 default로 static이 사용됨*/
    /*결국 boby부분으로 올라감*/
    /*위에 .project에서 선언한 position: relative; 으로 영역에서만 absolute 이동 할 수 있음 */
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description
{
    opacity: 0.8;
    transform: translateY(0px);
}

.project__description h3
{
    color: var(--color-white);
}

.project__description h3:after
{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/* Testimonial */
#testmonials
{
    background-color: var(--color-light-white);
}

.testmonials
{
    margin: 40px;
    text-align: center;
    justify-content: center;
}

.testmonial
{   
    display: flex;
    margin: 32px 0;
}

.testmnial__avatar
{
    width: 185px;
    height: 180px;
    border-radius: 50%;
    margin: 12px;
}
/* 홀수일때 margin을 오른쪽에만 줌 */
.testmnial__avatar:nth-child(odd)
{
    margin-right: 40px;
}
/* 짝수일 때 margin을 왼쪽에만 줌 */
.testmnial__avatar:nth-child(even)
{
    margin-left: 40px;
}

.testmonial__speech-bubble
{
    padding: 18px;
    background-color: var(--color-white);
    border-radius: var(--size-border-radius);
}

.testmonial__speech-bubble p
{
    color: var(--color-light-grey);
}

.testmonial__speech-bubble a
{
    color: var(--color-pink);
}

/* Contact */
#contact
{
    background-color: var(--color-pink);
}

.contact__title,
.contact__email,
.conntact__rights
{
    color: var(--color-white);
}

.contact__title
{
    margin: 32px;
}

.contact__link
{
    font-size: var(--font-large);
    margin: 24px 0;
    transition: all var(--animation-duration) ease-in;
}

.contact__link i:hover
{
    transform: scale(1.1);
    color: var(--color-yellow);
}

/* 반응형 */
/* For below 768px screen width*/
/* 스크린의 넓이가 768px 이하일 때 토글 버튼이 나타남*/
/*스크린 사이즈가 작을때만 적용되는 스타일링*/
@media screen and (max-width: 768px)
{
    .navbar__toggle-btn
    {
        display: block;
    }
    #navbar
    {
        /* 아래로 위치하게 만듬 */
        /* column 일 떄는 중심축이 수직임
        그래서 중심을 수평 반대쪽에서 정리해야함*/
        flex-direction: column;
        /*왼쪽으로 정렬함*/
        align-items: flex-start;
    }
    /*메뉴 개당 하나씩 아래로*/
    .navbar__menu
    {
        flex-direction: column;
        text-align: center;
        width: 100%;
        /*토글버튼을 클릭 시 보여줘야 하기때문에 display: none 으로
        평소에는 볼 수 없게 한다.*/
        display: none;
    }
    .about__majors
    {
        flex-direction: column;
    }
    .major
    {
        margin-bottom: 38px;
    }
    .skillset
    {
        flex-direction: column;
    }
    /*화면을 가로로 꽉 차게 만듬
    위에서 @media로 사이즈를 제한했기 때문에 해당 사이즈가 넘으면
    flex-grow 효과는 사라짐*/
    .project
    {
        flex-grow: 1;
    }
    .testmnial__avatar
    {
        width: 80px;
        height: 80px;
    }
}
